.contactme_h2 {
  margin-top: 10.5rem;
}

.grid_7fr_5fr {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 20px;
}

.getin-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.g_letter {
  position: relative;
  top: -3.5rem;
}

.touch-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -19rem;
}

.heart-contact {
  position: relative;
  top: 3rem;
}

.profil_logo {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top: -22rem;
  left: 8rem;
  width: 100%;
  height: auto;
}

.img_logo {
  position: relative;
  scale: 1.6;
  transform: rotate(-15deg);
  right: 1.5rem;
}

.contact_form {
  max-width: 30rem;
  gap: 1 rem;
}

.contact_form-message {
  grid-column: 1;
}

.textarea {
  width: 100%;
  resize: none;
  min-height: 10rem;
}

.contact_input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25 rem;
  margin: 0.5 rem;
}

.contact_input-group input,
.contact_input-group textarea {
  margin-bottom: 2rem;
  padding: 0.75rem;
  border: 1px solid #bcbcbc;
  background-color: #ededed;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* Sørger for at padding ikke ændrer bredden */
  transition: border-color 0.3s ease-in-out;
}

.contact_form-message textarea {
  resize: vertical;
  min-height: 8rem;
  margin-bottom: 2rem;
}

.submit-button {
  background-color: #e27d4f; /* Orange farve */
  color: #fff; /* Hvid tekst */
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px; /* Gør knappen oval */
  padding: 0.75rem 1.5rem; /* Indvendig afstand */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Afstand mellem tekst og pil */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 8px; /* Størrelse på pil */
  height: 8px;
  border-top: 2px solid #fff; /* Øvre del af pilen */
  border-right: 2px solid #fff; /* Højre del af pilen */
  transform: rotate(45deg); /* Drejer pilen */
  margin-left: 0.25rem;
}

.submit-button:hover {
  background-color: #d16b3f; /* Mørkere orange ved hover */
}

@media (max-width: 430px) {
  .grid_7fr_5fr {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .heart-contact {
    scale: 0.35;
  }

  .submit-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .profil_logo {
    position: relative;
    left: -4.5rem;
    scale: 0.8;
  }
}
