/* Lili Harritz overskrift */
.lili-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4rem;
  right: 3rem;
}

.l_letter {
  position: relative;
  top: -3rem;
  right: -1rem;
  scale: 0.9;
}

.harritz-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -13rem;
}

.touch_heart {
  position: relative;
  top: 3.5rem;
}

.grid_coll {
  display: grid;
  flex-direction: column;
}

.text-container {
  position: relative;
  width: 25rem;
  left: 10rem;
  top: 4rem;
}

.grid_row {
  display: flex;
  flex-direction: row;
}
