.project-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  margin-left: 140px;
}

.project-grafik {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submobil {
  position: absolute;
  z-index: 1;
  left: 44%;
}

.subwebsite {
  position: relative;
  left: 10%;
}

.project-laptop {
  position: relative;
  top: 10%;
}

.project-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-left: 140px;
}
