.heart-home {
  position: relative;
  /* right: -10rem; DOSENT WORK */
  top: 5rem;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  margin-left: 140px;
  margin-bottom: 4rem;
}

.project-grafik {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submobil {
  position: absolute;
  z-index: 1;
  left: 44%;
}

.subwebsite {
  position: relative;
  left: 10%;
}

.project-laptop {
  position: relative;
  top: 10%;
}

.project-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  margin-left: 140px;
  margin-bottom: 3rem;
}

.poster-image {
  position: relative;
  top: 3rem;
}

.album-image {
  scale: 0.9;
  position: relative;
  top: -0.7rem;
  left: 4rem;
}

.heart-p01 {
  position: relative;
  top: 5rem;
}

@media (max-width: 430px) {
  .heart-p01 {
    scale: 0.35;
    position: relative;
    left: -22.5rem;
    top: 4.5rem;
  }

  .project-section {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 10%;
    margin-bottom: 2rem;
  }

  .project-grafik {
    position: relative;
    right: 20%;
  }

  .submobil {
    display: none;
  }

  .project-text {
    width: 18rem;
  }

  .project-laptop {
    top: 0%;
  }

  .project-section2 {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-bottom: 3rem;
  }

  .mobil-project {
    width: 18rem;
  }

  .album-image {
    top: 0rem;
    left: -3.5rem;
  }

  .poster-image {
    scale: 0.875;
    top: -9rem;
    left: -4rem;
  }
}
